# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Local database (LocalDB / SQLite)
*.mdf
*.ldf
*.sqlite

# EF Core tools
**/Migrations/*.Designer.cs
**/Migrations/*Snapshot.cs

# JetBrains Rider
.idea/

# Logs
*.log

# Publish output
publish/
/WebApplication1/.vs/WebApplication1/FileContentIndex/922e6cb2-b046-4045-a8fc-3b5bcc033d24.vsidx
