:root {
    --zoo-green: #02341D;
    --zoo-orange: #F7671A;
    --zoo-light-green: #034a29;
    --zoo-dark-green: #011f13;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: linear-gradient(135deg, var(--zoo-green) 0%, var(--zoo-light-green) 100%);
    color: var(--zoo-orange);
}

h1, h2, h3, h4, h5, h6, p, span, div, label, td, th, li, a {
    color: white;
}

.card {
    background-color: transparent;
    border: none;
}

.card-title{
    color: var(--zoo-orange);
}

.table-responsive {
    overflow: visible !important;
}

.table tbody tr {
    position: relative;
}

.dropdown-menu {
    position: absolute !important;
    z-index: 1050;
}